@tailwind base;
@tailwind components;
@tailwind utilities;

td {
  @apply h-16 w-20;
}

.btn{
  @apply h-full w-full text-2xl border-4 outline outline-2 outline-transparent border-blueGray-900 transition-all shadow-sm active:translate-y-1
}

.btn-gradient{
 @apply bg-gradient-to-t to-slate-400 from-slate-600 hover:to-slate-500
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
